@model BroadwayEnglishSchoolTimetable.Models.formOfEducationPL

@{
    ViewBag.Title = "Детали формы обучения";
}

<h2>Детали формы обучения</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.form)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.form)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
