@model IEnumerable<BroadwayEnglishSchoolTimetable.Models.reminderOrСommentsTeacherPL>

@{
    ViewBag.Title = "Список заметок для преподователей";
}

<h2>Список заметок для преподователей</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.TeachersName).ToString(), "Index", new { sortOrder = @ViewBag.SurnameSort })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.date).ToString(), "Index", new { sortOrder = @ViewBag.DateSort })
        </th>
        <th style="max-width:15em; min-width:9em;">
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.TeachersName, "Details", "teacher", new { id = item.idTeachers }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td style="max-width:15em; min-width:9em;">
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

