@model BroadwayEnglishSchoolTimetable.Models.waitingListPL

@{
    ViewBag.Title = "Удалить из списка ожидания";
}

<h2>Удалить из списка ожидания</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idStudents)
        </dt>

        <dd>
            @Html.ActionLink(Model.FullNameStud, "Details", "student", new { id = Model.studentEl.Id }, new { target = "_blank" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateTarget_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTarget_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAdmin)
        </dt>

        <dd>
            @Html.ActionLink(Model.FullNameAdmin, "Details", "AdminLists", new { id = Model.studentEl.Id }, new { target = "_blank" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
