@model BroadwayEnglishSchoolTimetable.Models.classroomPL

@{
    ViewBag.Title = "Детально об учебном кабинете";
}

<h2>Детально об учебном кабинете</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
