@model BroadwayEnglishSchoolTimetable.Models.educationalMaterialPL

@{
    ViewBag.Title = "Подробности о учебнике/учебном курсе";
}

<h2>Подробности о учебнике/учебном курсе</h2>

<div class="form-horizontal">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
