@model BroadwayEnglishSchoolTimetable.Models.causeOfDisruptionPL

@{
    ViewBag.Title = "Удаление причины отмены занятий";
}

<h2>Удаление причины отмены занятий</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cause)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cause)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
